.mainMenuContainer {
  position: fixed;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: fit-content;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 70px;

  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.8px;
}
