.btn {
  height: 18;
  width: 18;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
}

.dot {
  background-color: #e4e6e7;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin: 3px;
}

.activeDot {
  background-color: #319fd6;
}
