.header {
  /* background-color: grey; */
  display: flex;
  align-items: baseline;
  gap:20px;
  color: black;
}

.search {
  width: 100px;
  /* background-color: black; */
  margin: 0;
  padding: 0;
}

.loginBtn {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}
